<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="goat"
          class="ru.nurullin.spring.Goat">
    </bean>

    <bean id="goose"
          class="ru.nurullin.spring.Goose">
    </bean>

    <bean id="frog"
          class="ru.nurullin.spring.Frog">
    </bean>

    <bean id="hunter"
          class="ru.nurullin.spring.Hunter"
          factory-method="getHunter">
        <property name="currentAnimal" ref="frog"/>
    </bean>

</beans>