<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="kefir"
          class="ru.nurullin.spring.Kefir1">
    </bean>

    <bean id="moloko"
          class="ru.nurullin.spring.Moloko32">
    </bean>

    <bean id="tvorog"
          class="ru.nurullin.spring.Tvorog5">
    </bean>

    <bean id="podsolnuh"
          class="ru.nurullin.spring.Podsolnuh">
    </bean>

    <bean id="kokos"
          class="ru.nurullin.spring.Kokos">
    </bean>

    <bean id="palmovoe"
          class="ru.nurullin.spring.Palmovoe">
    </bean>

    <bean id="holodilnik"
          class="ru.nurullin.spring.Holodilnik">
        <property name="molochka">
            <list>
                <ref bean="kefir"/>
                <ref bean="moloko"/>
                <ref bean="tvorog"/>
            </list>
        </property>
        <property name="rastitelnoe">
            <list>
                <ref bean="podsolnuh"/>
                <ref bean="kokos"/>
                <ref bean="palmovoe"/>
            </list>
        </property>
    </bean>

</beans>